.app-container {
  padding: 30px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
}

.comment-form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .app-container {
    width: 80%;
    max-width: 1140px;
  }
  .comment-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.responsive-container {
  width: 80%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 300px;
  margin: 10px;
  height: 200px;
  order: -1;
}

.form-heading {
  margin-bottom: 20px;
}

.input {
  width: 80%;
  margin-bottom: 20px;
  height: 30px;
}

.input-comment {
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    flex-direction: row;
  }
  .image {
    width: 40%;
    margin: 10px;
    height: 300px;
    order: 1;
  }
  .input {
    width: 80%;
    margin-bottom: 20px;
    height: 30px;
  }

  .input-comment {
    width: 80%;
    margin-bottom: 20px;
  }
}

.button {
  align-self: flex-start;
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.count {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding: 8px;
}

.comments-container {
  list-style-type: none;
  padding: 0px;
}
